@font-face {
    font-family: 'Red Hat Text';
    src: url("../assets/fonts/RedHatText-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Red Hat Text Bold';
    src: url("../assets/fonts/RedHatText-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Magra';
    src: url("../assets/fonts/Magra-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Aleo';
    src: url("../assets/fonts/Aleo-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Aleo Bold';
    src: url("../assets/fonts/Aleo-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Aleo Italic Bold';
    src: url("../assets/fonts/Aleo-BoldItalic.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Aleo Italic';
    src: url("../assets/fonts/Aleo-Italic.ttf");
    font-weight: 400;
}

:root {
    --color-white: #ffffff;
    --color-primary: #0D606F;
    --color-btn-hover: #10798C;
    --color-orange: #F2785C;
}

html {
    scroll-behavior: smooth;
    background: linear-gradient(rgba(242, 120, 92, 0.7),
            rgba(255, 255, 255, 0.7) 22%,
            rgba(255, 255, 255, 0.7) 60%,
            rgba(13, 96, 111, 0.5));
    background-repeat: no-repeat;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
}

.content-wrapper {
    width: 1440px;
    margin: 0 auto;
    background-color: var(--color-white);
    background-image: url(../assets/images/bg-top.jpg), url(../assets/images/bg-bottom.jpg);
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    /* box-shadow: 0px 0px 4px 4px rgba(13, 96, 111, 0.5); */
}

a {
    text-decoration: none;
    color: unset;
    transition: 0.3s;
}

.header,
.footer,
.section {
    width: 100%;
}

.section__header {
    font-family: 'Red Hat Text Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: var(--color-orange);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.section p {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-primary);
}

.button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 14px;

    font-family: 'Red Hat Text Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-white);

    padding: 12px 32px;
    background-color: var(--color-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    background-color: var(--color-btn-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 2px 3px rgba(13, 96, 111, 0.16),
        0 0 0 2px var(--color-primary) inset,
        0 0 0 3px var(--color-white) inset;
}

.arrow-icon {
    flex: 0 0 33px;
    background-image: url(../assets/icons/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

/* ---------- Header ---------- */

.header {
    padding: 24px 120px 24px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header__home {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 6px;
    align-items: stretch;
    transition: 0.3s;
}

.header__home:hover {
    transform: scale(1.05);
}

.header__logo {
    flex: 0 0 30px;
    width: 30px;
    height: 30px;
    background-image: url("../assets/icons/logo.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
}

.header__title {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: var(--color-white);
}

.header__nav {
    margin-right: 30px;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
    column-gap: 42px;

    font-family: 'Red Hat Text Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-white);

    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__link {
    background-image: linear-gradient(to right,
            var(--color-primary),
            var(--color-primary) 50%,
            var(--color-white) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.nav__link:before {
    content: '';
    background: var(--color-primary);
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

.nav__link:hover {
    background-position: 0;
}

.nav__link:hover::before {
    width: 98%;
}

.header .button {
    font-size: 16px;
    line-height: 22px;
    padding: 8px 29px 8px 27px;
}

/* ---------- Preview Section ---------- */

.preview {
    padding: 30px 120px 221px;
}

.preview__content {
    width: 892px;
    padding: 1px 0 33px;
}

h1 {
    font-family: 'Aleo Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: var(--color-white);
    margin-bottom: 33px;
}

.preview p {
    font-family: 'Aleo Italic Bold';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-white);
    margin-bottom: 46px;
}

.preview__search-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 18px 18px 17px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.preview__search-box input {
    width: calc(100% - 250px);
    padding-left: 22px;
    border: none;
    appearance: none;
    outline: none;
    background: transparent;
    font-family: 'Aleo Italic';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-orange);
}

.preview__search-box ::placeholder {
    color: var(--color-orange);
}

/* ---------- Steps Section ---------- */

.steps {
    padding: 80px 130px 0;
    background-color: var(--color-white);
}

.steps__items-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 17px;
}

.steps__item {
    width: 320px;
}

.item-content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.steps__item:first-child .item-content {
    margin: 0;
    margin-right: auto;
}

.steps__item:last-child .item-content {
    margin: 0;
    margin-right: 2px;
    margin-left: auto;
}

.item-icon {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    background-color: var(--color-orange);
    border-radius: 16px;
    margin-bottom: 30px;
}

.activity {
    background-image: url(../assets/icons/bike.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 45px;
}

.dates {
    background-image: url(../assets/icons/calendar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 52px 52px;
}

.recommendations {
    background-image: url(../assets/icons/plane.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 45px;
}


/* ---------- Destinations Section ---------- */

.destinations {
    padding-top: 80px;
    background-color: var(--color-white);
}

.carousel-wrapper {
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto 20px;
}

.carousel {
    position: relative;
    margin: 0 auto;
    width: 2520px;
    left: -540px;
    display: flex;
    column-gap: 60px;
    padding: 5px 0;
    transition: all 1s ease-in-out;
}

.carousel__item {
    width: 800px;
    height: 800px;
    left: 860px;
    top: 0px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 800px;
    display: flex;
    padding: 40px 15px;
}

.destination__name {
    align-self: flex-end;
    text-transform: uppercase;
    font-family: 'Red Hat Text Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: var(--color-white);
}

#carousel-left {
    background-image: url(../assets/images/spain.jpg);
}

#carousel-center {
    background-image: url(../assets/images/japan.jpg);
}

#carousel-right {
    background-image: url(../assets/images/usa.jpg);
}

.destinations__navigation {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 40px;
}

.destinations input {
    display: none;
}

.destinations__navigation label {
    width: 20px;
    height: 20px;
    background-color: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.destinations__navigation label:hover {
    background-color: rgba(242, 120, 92, 0.8);
}

#left:checked~.destinations__navigation label:nth-child(1),
#center:checked~.destinations__navigation label:nth-child(2),
#right:checked~.destinations__navigation label:nth-child(3) {
    background-color: var(--color-orange);
}

#left:checked~.carousel-wrapper .carousel {
    left: 320px;
}

#center:checked~.carousel-wrapper .carousel {
    left: -540px;
}

#right:checked~.carousel-wrapper .carousel {
    left: -1400px;
}

.destinations .button {
    margin: 0 auto;
}

/* ---------- Stories Section ---------- */

.stories {
    padding: 80px 120px 40px;
    background: rgba(255, 255, 255, 0.7);
}

.stories__container {
    padding: 40px 0 8px;
    width: 100%;
}

.story {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    margin-bottom: 30px;
}

.story__content {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-primary);
}

.story__picture {
    flex: 0 0 400px;
    width: 400px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.story__title {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 22px;
}

.story__content a {
    font-weight: 600;
    color: var(--color-primary);
    text-decoration: underline;
}

.story__content a:hover {
    font-size: 21px;
}

.stories .button {
    margin: 0 auto;
}

/* ---------- Footer ---------- */

.footer {
    padding: 10px 120px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    padding: 0;
}

.footer__school-and-github {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 22px;
}

.footer__icon {
    height: 32px;
    transition: all 0.3s ease-out;
}

.footer__icon:hover {
    transform: scale(1.1);
}

.github-logo {
    height: 40px;
}

.github-logo,
.rss-logo {
    filter: invert(100%);
}

.footer__copyright {
    font-family: 'Red Hat Text Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-white);
}

.footer__social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 22px;
    padding: 4px 2px 0px 6px;
}

.twitter-logo {
    height: 27px;
}

.youtube-logo {
    height: 27px;
}